*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-in{
    width: 95%;

}
.nav{
    padding: 10px 0px;

}
.nav p{
    font-size: 2rem;
    font-weight: 600;
    color: rgb(27,111,245);
}
.one-box{
    border: 1px solid black;
    width: 24%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(27,111,245);
    border-radius: 10px;



}
.one-box a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    color: white;
    
}
.one-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.two-in{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2px;
}
